<form action="/" method="post" enctype="multipart/form-data">
  <h3>Upload Profile Photo</h3>
  <input type="file" name="sampleFile" />
  <input type="submit" class="btn btn-primary">
  </br>
  </br>
  {{#if message.success}}
  <div class="alert alert-success">
    <a href="{{message.success}}">{{message.success}}</a>
  </div>
  {{/if}}

</form>